<!DOCTYPE html>
<html>
    <head>
            <link rel="stylesheet" href="./styles/reset.css" />
            <link rel="stylesheet" href="./styles/base.css" />
            <link rel="stylesheet" href="./styles/layout.css" />
            <link rel="stylesheet" href="./styles/modules.css" />
            <link rel="stylesheet" href="./styles/icon.css" />
    </head>
    <body>
        <h1>Search results:</h1>
        <p><a href="/">Home</a></p>
        <ul>
            <% searchResults.forEach(book => { %>
                <img src= <%= book.image_url %>  >
                <li> <%= book.title %> </li> 
                <li> <%= book.author %> </li> 
                <li> <%= book.description %> </li> 
            <% }) %>
        </ul>


    </body>

</html>


