#search-box{
    margin: 0px auto;
    width:50% ;
    height: 50%;
    display:block;
    border-radius: 5px;
    text-align: center;
}
#title-box-container{
    margin: 0px auto;
    display:block;
    background:white;
    width:480px;
    height:70px;
    line-height: 70px;
    text-align: center;
    border-radius: 5px ;
}
#author-box-container{
    margin: 0px auto;
    display:block;
    background:white;
    width:480px;
    height:70px;
    line-height: 70px;
    text-align: center;
    border-radius: 5px ;
    margin-top:20px;
}
#search-box-container{
    width:100%;
    display:block;
    height: 120px;
}